.transportList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  font-size: 17px;
  color: #f7f7f6; 
}

.transportItem {
  flex: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  background-color: #a5c64d;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  gap: 4px;
}

.icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.label {
  font-weight: 600;
}
